@import "tailwindcss";
:root{
  font-family:"Poppins",sans-serif;
  color: #0E0B50;
  background-color: #ECFFDE;

}
.diffgreen{
  background: #65BA34;
  color: white;
}
.textgreen{
  color: #65BA34;
}
.interf{
  font-family: 'Inter', sans-serif;
}
.custom-dot-list-style  button{
  background-color: #E2E8F0; /* default gray */
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  background-color: #65BA34; /* your green when active */
}
@keyframes shine {
  100% { left: 150%; }
}
.animate-shine {
  animation: shine 1.5s;
}
/* Add this to your global CSS file (e.g., globals.css) */
#AboutUs {
  scroll-margin-top: 5rem; 
  padding-top: 1px; 
  margin-top: -1px; 
}


html {
  scroll-behavior: smooth;
}
